<h1>Edit Trainee</h1>

<form *ngIf="trainee else empty">
  <div class="form-group">
    <label for="id">Id:</label>
    <input type="text" class="form-control" id="id" disabled="true" value="{{trainee.traineeId}}">
  </div>

  <div class="form-group">
    <label for="traineeName">Name:</label>    
    <input type="text" [(ngModel)]="trainee.traineeName" class="form-control" id="traineeName" placeholder="name" name="traineeName"/>
  </div>
  
  <button (click)="updateTrainee()" class="btn btn-primary">Save</button>
  <button (click)="goBack()" class="btn btn-primary" role="button">Back</button>
</form>

<ng-template #empty> Loading... </ng-template>